extends layout

block content
	h1 New Message 
	input(type="text", id="txtId", placeholder="id")
	input(type="text", id="txtSubject", placeholder="subject")
	input(type="text", id="txtDescription", placeholder="description")
	button(id="btnAddMessage") Add Message